
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-bangong:before { content: "\e693"; }
.icon-bangongoa:before { content: "\e672"; }
.icon-icon:before { content: "\e604"; }
.icon-bangongzhuo:before { content: "\e602"; }
.icon-xingzhengbangong:before { content: "\e70e"; }
.icon-iconfont02:before { content: "\e60a"; }
.icon-e_resume:before { content: "\e646"; }
.icon-dianzibanjianli:before { content: "\e61e"; }
.icon-xue:before { content: "\e623"; }
.icon-tianqi:before { content: "\e73b"; }
.icon-icon53:before { content: "\e63d"; }
.icon-tianqi1:before { content: "\e614"; }
.icon-qing:before { content: "\e61f"; }
.icon-tianqi2:before { content: "\e632"; }
.icon-tianqi3:before { content: "\e62e"; }
.icon-sun:before { content: "\e60d"; }
.icon-tianqiyubao:before { content: "\e6c2"; }
.icon-xiaoyu:before { content: "\f020a"; }
.icon-t01:before { content: "\e629"; }
.icon-t16:before { content: "\e635"; }
.icon-t15:before { content: "\e634"; }
.icon-xinyongqiahuankuan:before { content: "\e604"; }
.icon-icon1:before { content: "\e602"; }
.icon-jizhang:before { content: "\e60f"; }
.icon-jipiao:before { content: "\e60c"; }
.icon-kuaidi:before { content: "\e613"; }
.icon-liebiao:before { content: "\e630"; }
.icon-wode:before { content: "\e62e"; }
.icon-shejiao:before { content: "\e644"; }
.icon-yiliao:before { content: "\e64d"; }
.icon-gongzi:before { content: "\e65c"; }
.icon-jianzhi:before { content: "\e65d"; }
.icon-qitashouru:before { content: "\e65f"; }
.icon-caifua:before { content: "\e668"; }
.icon-jquery:before { content: "\e603"; }
.icon-socialjavascript:before { content: "\e87b"; }
.icon-css:before { content: "\f01c3"; }
